*{
    margin: 0;
}
.home_main_container{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    color: #333;
}
.header_img{
    width: 95%;
    height: 250px;
    margin-top: 30px;
    border-radius: 15px;
    background: #333;
    overflow: hidden;
}
.real_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_header{
    font-size: 55px;
    margin-top: 80px;
}
.subHeaderLine{
    margin-top: 20px;
    font-size: 20px;
    width: 57%;
    max-width: 750px;
    text-align: center;
}
.donate_btn{
    padding: 6px 35px;
    background: #333;
    color: #fff;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 50px;
    border: 2px solid #fff;
    text-align: center;
}
.donate_btn a{
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
@media (max-width:800px) {
    .main_header{
        margin-left: 20px;
        margin-top: 80px;
        font-size: 40px;
        width: 100%;
    }
    .header_img{
        width: 95%;
        height: 250px;
        margin-top: 30px;
        border-radius: 10px;
        background: #333;
    }
    .subHeaderLine{
        font-size: 18px;
        width: 90%;
    }
    .donate_btn{
        font-size: 19px;
        margin-top: 30px;
    }
}
